html, body{
	height: 100%;
	color: #fff;
	font-family: calibri;
	text-align: center;
	font-size:0.95em;
}
#header, #leftSection, #middleSection, #footer{
	background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	border-radius: 10px;
}
#header{
	height: 9%;
	margin-bottom: 1%;
}
#leftSection{
	float: left;
	height: 75%;
	width: 10%;
}
#middleSection{
	float: left;
	height: 75%;
	width: 89%;
	margin-left: 1%;
	margin-bottom: 1%;
}
#footer{
	clear: both;
	height: 9%;
}
li{
	text-align: left;
	text-decoration: underline;
	cursor: pointer;
}
#clear,#search{
    cursor: pointer;
    margin-top:1%;
    border: 2px solid;
    width: 60px;
    height: 30px;
    background-color: #0E1C4D ;
    color: white;
    font-size: 13px;
    border-radius: 23px 0;
    outline-color: transparent;
    box-shadow: 0px 1px 0px #0E1C4D ;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
}
#clear:active,#search:active{
   background:gray;
   top:3px;
}
input{
	border-radius: 12px 0; 
	outline-color: transparent;
}
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

@media screen and (max-width: 1100px) {
	#header, #leftSection, #middleSection, #footer{
		font-size: 0.85em;
	}
	#clear,#search{
		font-size: 7px;
		width:40px;
		height: 20px;
	}
	img{
		width: 200px !important;
	}
}
@media screen and (max-height: 800px) {
	#middleSection{
		font-size: 0.8em;
	}
}

@media screen and (max-height: 600px) {
	#header, #leftSection, #middleSection, #footer{
		font-size: 0.5em;
	}
	img{
		width: 150px !important;
	}
}

@media screen and (max-height: 400px) {
	#header, #leftSection, #middleSection, #footer{
		font-size: 0.3em;
	}
}
@media screen and (max-height: 400px) {
	#leftSection{
		font-size: 0.3em;
	}
}
