@keyframes ss
{
    from {
        left: -90px;
    }
    to {
        left: calc( 100% + 90px );
		transform: translatex(1100px) translatey(1100px);
    }
}

.p::before{
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  display:block;
  position:absolute;
  content:"";
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}

.p{
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  position:fixed;
  background-color:white;
  animation-name:ss;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotateZ(45deg);
}

body{
  background-color:#000000;
}

.p-1,.p4{
  animation-duration:8s;
}
.p-2,.p5{
  animation-duration:6s;
  top:60%;
}
.p-3,.p6{
  animation-duration:9s;
  top:90%;
}
